<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        >
    <logging>
        <log type="coverage-html" target=".coverage" lowUpperBound="35" highLowerBound="70"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">./tests/unit-tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>